# Jupyter Notebook specific files
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Logs and debugging files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.swp
